.header-bg{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.800), rgba(255, 255, 255, 0.800), rgba(255, 255, 255, 0.800)), url(./images/header.jpg) no-repeat center/cover;
    height: 100vh;
}
nav{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.600), rgba(255, 255, 255, 0.600), rgba(255, 255, 255, 0.600));
}